<!DOCTYPE html>
<html>

<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../css/styles.css">
	<link rel="stylesheet" href="../css/header.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<script>
		function sendMail() {
			if (confirm('You want to send mail?')) {
				$.ajax({
					type: 'POST',
					url: '/sendmail',
					dataType: "json",
					success: function (response) {
						alert("Mail Sent successfully")
					},
					error: function () {
					}
				})
			} else {

			}
		}

		function iportData(){
			if (confirm('You want import data?')) {
				$.ajax({
					type: 'POST',
					url: '/import',
					dataType: "json",
					success: function (response) {
						alert("Data imported successfully")
					},
					error: function () {
					}
				})
			} else {

			}
		}
		function deleteConfirm(_id){
			if (confirm('Are you sure, You want to delete?')) {
				$.ajax({
					type: 'POST',
					url: '/deleteProfile',
					data: {id: _id},
					dataType: "json",
					success: function (response) {
						alert("Profile removed successfully")
						window.location.reload();
					},
					error: function () {
					}
				})
			} else {

			}
		}
	</script>
</head>

<body>
	<header class="site-header">
		<div style="display: flex;
			position: absolute;">
			<div class="profile_image">
				<%if (filePath.length> 0) { %>
					<img src='<%= filePath %>' alt="Site Name" />
					<% } %>
						<%if (filePath.length <=0) { %>
							<a href="/uploadImage"><img src="dummyImage.png" alt="Site Name" /></a>
							<% } %>
			</div>
			<div style="margin-left: 10px;">
				<h3><a href="/profile">
						<%= name %>
					</a></h3>
			</div>
		</div>
		<nav class="site-navigation">
			<ul class="nav">
				<li><a href="/forgetpass"><i class="fa fa-key" aria-hidden="true"></i> Change Password</a></li>
				<li><a href="javascript:void(0)" onclick="sendMail()"><i class="fa fa-envelope" aria-hidden="true"></i>
						Send
						Mail</a></li>
				<li><a href="/userlist" class="active"><i class="fa fa-bars" aria-hidden="true"></i> User List</a></li>
				<li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> My Profile</a></li>
			</ul>
		</nav>
	</header>
	<div style="padding-left: 20px;padding-right: 20px;">
		<div class="col-md-12 profileStyle">
			<div>
				<p>Users List(<%= count %>)</p>
			</div>
			<button class="btn btn-success" style="float: right;margin-top: -46px;" onclick="iportData()">Import to excel</button>
			<div>
				<center>
					<table class="table table-striped">
						<tr style="background-color: lightgray;">
							<th>#</th>
							<th>Name </th>
							<th>
								Email
							</th>
							<th>Address </th>
							<th>Phone Number </th>
							<th>Postal Code </th>
							<th>Action</th>
						</tr>
						<% for(var i=0; i<data.length; i++) {%>
							<tr>
								<td>
									<%= i+1 %>
								</td>
								<td>
									<i class="fa fa-address-card" aria-hidden="true"></i>
									<a href="/profileDetail?id=<%= data[i].id %>"><%= data[i].username %></a>
								</td>
								<td>
									<i class="fa fa-envelope" aria-hidden="true"></i>
									<%= data[i].email %>
								</td>
								<td>
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<%= data[i].address %>
								</td>
								<td>
									<%= data[i].phone %>
								</td>
								<td>
									<%= data[i].postalcode %>
								</td>
								<td>
									<a href="/profileDetail?id=<%= data[i].id %>" class="btn btn-primary btn-sm">View Detail</a>
									<button onclick='deleteConfirm("<%= data[i].id %>")' class="btn btn-danger btn-sm">Delete</button>
								</td>
							</tr>
							<% } %>

					</table>
					<% if (pages > 0) { %>
						<ul class="pagination text-center">
							<% if (current == 1) { %>
								<li class="disabled"><a>First</a></li>
							<% } else { %>
								<li><a href="/userlist?page=1">First</a></li>
							<% } %>
							<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
							<% if (i !== 1) { %>
								<li class="disabled"><a>...</a></li>
							<% } %>
							<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
								<% if (i == current) { %>
									<li class="active"><a><%= i %></a></li>
								<% } else { %>
									<li><a href="/userlist?page=<%= i %>"><%= i %></a></li>
								<% } %>
								<% if (i == Number(current) + 4 && i < pages) { %>
									<li class="disabled"><a>...</a></li>
								<% } %>
							<% } %>
							<% if (current == pages) { %>
								<li class="disabled"><a>Last</a></li>
							<% } else { %>
								<li><a href="/userlist?page=<%= pages %>">Last</a></li>
							<% } %>
						</ul>
					<% } %>
				</center>
			</div>
			<div><a href="/profile"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back Profile</a></div>
			<div class="abc">
				<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
			</div>
		</div>
	</div>
	
</body>

</html>